@font-face {
  font-family: titulos;
  src: url(../asset/font/beba.ttf); }

@font-face {
  font-family: cuerpos;
  src: url(../asset/font/rubik.ttf); }

@font-face {
  font-family: anuncios;
  src: url(../asset/font/anuncios.ttf); }

@font-face {
  font-family: h1;
  src: url(../asset/font/la-renga.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

header h1 {
  text-align: center;
  color: red;
  margin: 32px;
  font-size: 80px;
  font-family: "h1";
  background: -webkit-linear-gradient(#ff0000, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

header nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: .75rem;
  justify-content: center;
  bottom: 10px;
  position: relative; }

.logo-renga img {
  margin-bottom: 10rem; }

nav ul {
  display: flex !important;
  flex-wrap: wrap !important; }
  nav ul li .btn a {
    font-family: cuerpos;
    color: white;
    text-decoration: none;
    font-weight: bold; }
    nav ul li .btn a:hover {
      color: brown; }

body {
  font-family: "titulos";
  background-image: url(../asset/img/fondo-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

footer {
  display: flex;
  justify-content: center;
  height: 100vh;
  height: 150px;
  background-color: black;
  color: white; }
  footer .redes-footer {
    display: flex;
    justify-content: center;
    gap: 60px; }
    footer .redes-footer div a {
      display: flex;
      list-style-type: none;
      flex-direction: row;
      gap: .75rem;
      justify-content: center;
      bottom: 10px;
      position: relative; }

.section-index {
  background-image: url(../asset/img/banda.jpg);
  width: 31.25rem;
  height: 31.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: solid 2px #a52a2a;
  border-radius: 100px 100px 150px 50px; }
  .section-index a {
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: cuerpos;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    color: white; }

.section-index-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 150px; }

.section-index a {
  font-family: "titulos";
  margin-top: 32px;
  font-size: 33px; }

.div-main {
  font-family: cuerpos; }

.div-productos {
  display: flex !important;
  justify-content: center !important;
  font-family: "titulos" !important;
  margin: 32px !important; }
  .div-productos .btn {
    width: 500px;
    height: 200px; }
    .div-productos .btn a {
      text-decoration: none;
      color: black;
      font-size: 25px; }

.carousel {
  margin: 5rem; }

.integrantes-container {
  background-color: rgba(250, 250, 250, 0.663);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 1rem;
  margin-bottom: 50px; }
  .integrantes-container div {
    display: flex;
    align-items: center; }

.foto-chizzo {
  width: 300px;
  height: 300px;
  border: solid brown 2px; }

.foto-manu {
  width: 300px;
  height: 300px;
  border: solid brown 2px; }

.foto-tete {
  width: 300px;
  height: 300px;
  border: solid brown 2px; }

.foto-tanque {
  width: 300px;
  height: 300px;
  border: solid brown 2px; }

dl {
  padding: 22px; }

main .nuevo-show-container {
  font-family: "anuncios"; }
  main .nuevo-show-container h2 {
    font-size: 80px;
    background: -webkit-linear-gradient(#ff0000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 0;
    line-height: 1; }
  main .nuevo-show-container h3 {
    font-size: 50px;
    background: -webkit-linear-gradient(#ff0000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 0;
    line-height: 1; }
  main .nuevo-show-container .nuevo-show {
    display: flex;
    flex-direction: column;
    text-align: center; }

.ubi {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  max-width: 660px; }
  .ubi div {
    background-color: #070707;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center; }
    .ubi div h4 {
      color: darkorange; }

.punto-venta {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  background-color: #898787;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  border-radius: 10px; }

.punto-venta ul {
  list-style: none;
  padding-left: 0 !important; }

.punto-venta p {
  font-size: 30px;
  color: aquamarine; }

.online-venta {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin: 20px; }

.online-venta p {
  color: green;
  font-size: 50px; }

.button-online {
  width: 340px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  animation: cambioFondo 1s infinite; }

@keyframes cambioFondo {
  0% {
    background-color: #0414f3; }
  20% {
    background-color: #2804f3; }
  40% {
    background-color: #0444f3; }
  60% {
    background-color: #0487f3; }
  80% {
    background-color: #04aff3; }
  100% {
    background-color: #04f3d3; } }

.registro {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 10rem; }

.iniciarsesion {
  margin-bottom: 10rem; }

.login-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  max-width: 400px; }

@media (max-width: 320px) {
  .section-index {
    text-align: center; }
  .carousel {
    margin: 1rem; }
  .logo-renga {
    width: 100% !important; }
    .logo-renga img {
      width: 100% !important; }
  .nuevo-show {
    width: 90%;
    align-items: start;
    margin-left: 10px; }
  .ubi iframe {
    width: 100%; }
  header h1 {
    font-size: 36px; } }

@media (max-width: 375px) {
  header h1 {
    font-size: 36px; }
  .nuevo-show-container h2 {
    font-size: 20px !important; }
  .nuevo-show-container h3 {
    font-size: 20px !important; } }

@media (max-width: 425px) {
  header h1 {
    font-size: 36px; }
  .integrantes-container div {
    display: grid; }
  .carousel {
    margin: 2rem; } }

@media (max-width: 500px) {
  .foto-chizzo {
    margin: 0; }
  .carousel {
    margin: 3rem; }
  .nuevo-show-container h2 {
    font-size: 50px !important; }
  .nuevo-show-container h3 {
    font-size: 30px !important; } }

@media (max-width: 768px) {
  header h1 {
    font-size: 36px; }
  .ubi iframe {
    width: 100%; } }
