@media(max-width: 320px){
    .section-index{
        text-align: center;
    }
    .carousel{
        margin: 1rem;
    }
    .logo-renga {
        width: 100% !important;
        img{
        width: 100% !important;
        }
    }
.nuevo-show{
    width: 90%;
    align-items: start;
    margin-left: 10px;
}
.ubi{
    iframe{
        width: 100%;
    }
}
header{
    h1{
        font-size: 36px;
    }
}
}
