@media(max-width: 375px){
    header{
        h1{
            font-size: 36px;
        }
    }
    .nuevo-show-container{
        h2{
            font-size: 20px !important;
        }
        h3{
            font-size: 20px !important;
        }
    }
}