footer {
	display: flex;
	justify-content: center;
	height: 100vh;
	height: 150px;
	background-color: $background-color_1;
}
.footer-div {
	color: $color_1;
	position: relative;
}
.redes-footer {
	display: flex;
	justify-content: center;
	gap: 60px;
	div {
		a {
			display: flex;
			list-style-type: none;
			flex-direction: row;
			gap: .75rem;
			justify-content: center;
			bottom: 10px;
			position: relative;
		}
	}
}