header {
	h1{
		text-align: center;
		color: red;
		margin: 32px;
		font-size: 80px;
		font-family: "h1";
		background: -webkit-linear-gradient(#ff0000, #000);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	nav {
		ul {
			display: flex;
			list-style-type: none;
			flex-direction: row;
			gap: .75rem;
			justify-content: center;
			bottom: 10px;
			position: relative;
		}
	}
}
.logo-renga {
	img {
		margin-bottom: 10rem;
		
	}
}
nav {
	ul {
		display: flex !important;
		flex-wrap: wrap !important;
		li {
			.btn{
				a {
					font-family: $font-family_1;
					color: $color_1;
					text-decoration: none;
					font-weight: bold;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
	}
}