main{
    .nuevo-show-container{
        font-family: "anuncios";
        h2{
            font-size: 80px;
            background: -webkit-linear-gradient(#ff0000, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            padding: 10px;
            margin: 0;
            line-height: 1; 
        }
        h3{
            font-size: 50px;
            background: -webkit-linear-gradient(#ff0000, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            padding: 10px;
            margin: 0;
            line-height: 1; 
        }
        .nuevo-show{
            display: flex;
            flex-direction: column;
            text-align: center;
            }
    }
}
.ubi{
    @include flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    max-width: 660px;
    div{
        background-color: #070707;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        h4{
            color: darkorange;
        }
    }
}
.punto-venta{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: #898787;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    max-width: 400px;
    border-radius: 10px;
}
.punto-venta ul{
    list-style: none;
    padding-left: 0 !important;
}
.punto-venta p{
    font-size: 30px;
    color: aquamarine;
}
.online-venta{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 20px;
}
.online-venta p{
    color: green;
    font-size:50px;
}
.button-online{
    width:340px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    animation: cambioFondo 1s infinite;
}
@keyframes cambioFondo {
    0% {
        background-color: #0414f3;
    }
    20% {
        background-color: #2804f3;
    }
    40% {
        background-color: #0444f3;
    }
    60% {
        background-color: #0487f3;
    }
    80% {
        background-color: #04aff3;
    }
    100% {
        background-color: #04f3d3;
    }
}
