@font-face {
    font-family:titulos;
    src: url(../asset/font/beba.ttf);
}
@font-face {
    font-family:cuerpos;
    src: url(../asset/font/rubik.ttf);
}
@font-face {
    font-family:anuncios;
    src: url(../asset/font/anuncios.ttf);
}
@font-face {
    font-family:h1;
    src: url(../asset/font/la-renga.ttf);
}